.descinco{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    background-color: rgb(241, 239, 239);
    padding: 0 300px 100px;
}
.h1des5{
    font-size: 3rem;
    padding-bottom: 40px;
    text-decoration:underline #F4DC4C 10px;
}
.pdes5{
    font-size: 1.3rem;
    
}
@media(max-width:500px){
    .descinco{
        padding: 0 100px 100px;
    }
}