.scinco{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    background-color: rgb(241, 239, 239);   
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 25px;
}
.navlink{
    padding-left: 40px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}